.svg path {
    stroke: black;
    transition: .5s all;
}

.svg.active path {
    stroke: black;
    d: path("M0,0.5 L20,18 M-20,9 L-30,9 M30,9 L20,9 M0,18 L20,0.5")
}


.svg1 path {
    stroke: black;
    transition: .5s all;
}

.svg1.active path {
    stroke: black;
    d: path("M0.5,1 Q0.5,1 7.5,1 M7,1 Q7,7 7,7 M7.5,7 Q1,7 1,7 M1,7.5 Q1,1 1,1");
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}